<div class="col-md-12">
  <!-- log in div -->
  <div *ngIf="showLoginSection">
    <div class="d-flex flex-column pt-1">
      <div class="fieldName">
        EMAIL
      </div>
      <div>
        <input class="w-100" type="text" placeholder="enter email" [(ngModel)]="logInParams.userEmail">
      </div>
    </div>

    <div class="d-flex flex-column pt-3">
      <div class="fieldName">
        PASSWORD
      </div>
      <div>
        <input class="w-100" type="password" placeholder="enter password" [(ngModel)]="logInParams.password">
      </div>
    </div>

    <div class="forgotPass pt-2"> <span (click)="showForgotPasswordDiv()">Forgot password?</span></div>

    <div class="pt-3 pb-2">
      <button class="btn btn-primary w-100" (click)="onClickLogIn()">Log in</button>
    </div>
    <div class="hrLine pt-3">
      <span>OR</span>
    </div>
    <div class="pt-3 pb-2">
      <button class="btn btn-primary w-100" (click)="showCreateAccDiv()">Create Account</button>
    </div>
  </div>

  <!-- Create Account -->

  <div *ngIf="showCreateAccSection">

    <div class="d-flex flex-column pt-3">
      <div class="fieldName">
        FULL NAME
      </div>
      <div>
        <input class="w-100" type="text" placeholder="enter name" [(ngModel)]="createNewParams.userName">
      </div>
    </div>

    <div class="d-flex flex-column pt-1">
      <div class="fieldName">
        EMAIL
      </div>
      <div>
        <input class="w-100" type="text" placeholder="enter email" [(ngModel)]="createNewParams.userEmail">
      </div>
    </div>

    <div class="d-flex flex-column pt-3">
      <div class="fieldName">
        PASSWORD
      </div>
      <div>
        <input class="w-100" type="password" placeholder="enter password" [(ngModel)]="createNewParams.password">
      </div>
    </div>

    <div class="pt-4 pb-2">
      <button class="btn btn-primary w-100" (click)="onClickJoinFree()">Join for Free</button>
    </div>
    <div class="hrLine pt-3">
      <span>OR</span>
    </div>
    <div class="pt-3 pb-2">
      <button class="btn btn-primary w-100" (click)="showLoginDiv()">Back to Login</button>
    </div>
  </div>


  <!-- forgot password sectopn -->

  <div *ngIf="showForgotpassSection">

    <div class="text-center">
      <h4>Reset your password</h4>
    </div>
    <div style="font-size: 15px;" class="pt-2">
      Enter your email address below. We'll look for your account and send you a password reset email.
    </div>

    <div class="d-flex flex-column pt-3">
      <div class="fieldName">
        EMAIL
      </div>
      <div>
        <input class="w-100" type="text" placeholder="enter email" [(ngModel)]="forgotPassParams.userEmail">
      </div>
    </div>
    <div class="pt-4 pb-2">
      <button class="btn btn-primary w-100" (click)="onClickResetPassword()">Send Password Reset</button>
    </div>

    <div class="pt-3 pb-2">
      <button class="btn btn-primary w-100" (click)="showLoginDiv()">Back to Login</button>
    </div>

  </div>

  <!--  -->
</div>