<div class="container-fluid settings-page">
    <div class="d-flex flex-row">

        <div class="col-md-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [ngClass]="{'active-section' : accounts}"><span class="label"
                        (click)="onClickAccounts()"> <span class="fa fa-user fs-26"></span>
                        <span class="label-name-sty">Account</span></span>
                </li>

                <li *ngIf="enableUserSection" class="nav-item" [ngClass]="{'active-section' : user}"><span class="label"
                        (click)="onClickUser()">
                        <span class="fa fa-user fs-26"></span>
                        <span class="label-name-sty">User</span></span>
                </li>
            </ul>
        </div>

        <div class="col-md-9 body-section" *ngIf="accounts">
            <app-account-settings></app-account-settings>
        </div>

        <div class="col-md-9 body-section" *ngIf="user">
            <app-user></app-user>
        </div>
    </div>
</div>