<div class="row col-md-12 mb-4">
  <div class="col-md-3">

    <button class="btn btn-primary btn-sm" (click)="onClickjoinLecture()"> Join Lecture</button>

  </div>


  <div class="col-md-8">

    <div *ngIf="showIframe" class="pt-3">
      <iframe width="100%" height="620px"
        src="https://www.youtube.com/embed/live_stream?channel=UCWoOhTGL69T8HOnAiAPO68Q" frameborder=""
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      <!-- <iframe width="100%" height="550px" src="https://www.youtube.com/embed/R2GRhAFplkI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>

  </div>
</div>