<div class="bgStyle">
  <div class="detailsText pt-4"> </div>

  <div class="row col-md-12 pb-5">

    <div class="col-md-3 accordion accordionStyle pt-2" id="accordionExample275">
      <div class="card z-depth-0 bordered cardShadow">
        <div class="card-header" id="headingOne2">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
              aria-controls="collapseOne2" [routerLink]="['/course-details', 'Hatha Yoga']">
              Hatha Yoga
            </button>
          </h5>
        </div>
      </div>
      <div class="card z-depth-0 bordered cardShadow">
        <div class="card-header" id="headingTwo2">
          <h5 class="mb-0">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo2"
              aria-expanded="false" aria-controls="collapseTwo2" [routerLink]="['/course-details', 'Raja Yoga']">
              Raja Yoga
            </button>
          </h5>
        </div>
      </div>
    </div>
    <div class="row col-md-9">
      <div class="col-md-6 yogaTextSty">
        "Yoga is a science of consciousness, a science of personality, and a science of creativity."
      </div>

      <div class="col-md-6" style="text-align: center;">
        <img style="height: 300px;" alt="Angular Logo" src="../../assets/images/guruji.jpeg">
      </div>
    </div>
  </div>
</div>