<div class="bgStyle">

  <div class="container pb-5 pt-4">

<div *ngIf="enableCourses" class="pt-3 msgStyle"> {{coursesMsg}}</div>

    <div class="col-md-12 pt-2" *ngIf="!enableCourses">
      <div class="p-2" *ngFor="let course of coursesList">
        <div class="courseBox">
          <div class="boxText">
            <span class="text-fs-12">COURSE</span>
          </div>
          <div class="d-flex pt-4 pb-3">
            <div>
              <div class="courseNameSty pt-1">
                {{course.courseName}}
              </div>

            </div>
            <div class="ml-auto pr-5">
              <button class="btn btn-primary" [routerLink]="['/course-details', course.courseName, course.courseId]">Go
                to
                Course</button>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-row pt-4">
            <div class="boxText text-fs-12">
              BIHAR SCHOOL OF YOGA
            </div>
            <div class="ml-auto pr-5 text-fs-12">
              FROM {{course.startDate}}, {{course.courseDuration}} days
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12 accordion accordionStyle pt-2" id="accordionExample275">
      <div class="card z-depth-0 bordered cardShadow" *ngFor="let course of coursesList">
        <div class="card-header" id="headingOne2">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
              aria-controls="collapseOne2" [routerLink]="['/course-details', course.courseName]">
              {{course.courseName}}
            </button>
          </h5>
        </div>
      </div>
    </div> -->
    <!-- <div class="row col-md-9">
      <div class="col-md-6 yogaTextSty">
        "Yoga is a science of consciousness, a science of personality, and a science of creativity."
      </div>

      <div class="col-md-6" style="text-align: center;">
        <img style="height: 300px;" alt="Angular Logo" src="../../assets/images/guruji.jpeg">
      </div>
    </div> -->
  </div>
</div>