<div class="row col-md-12 mb-4">
  <div class="col-md-3">

    <div class="accordion accordionStyle2 pt-2" id="accordionExample275">
      <div class="card z-depth-0 bordered cardShadow" style="cursor: pointer;" *ngFor="let day of daysNames">
        <div class="card-header" id="headingOne2" style="padding: 5px;" (click)="onClickDay(day.dayName)">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
              aria-controls="collapseOne2" [routerLink]="['/course-details', 'Hatha Yoga']">
              {{day.dayName}}
            </button>
          </h5>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="container pl-3 pt-3 pb-2">

      <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/dashboard">
        Home
      </a>
    </li>
    <li class="pl-1 pr-1"> > </li>
    <li class="breadcrumb-item">

      {{courseName}}

    </li>
  </ol> -->
      <button class="btn btn-success" routerLink="/dashboard"> Go back to Home</button>
    </div>

    <div class="container pt-1" style="border-left: 1px solid #d4d2d2;">
      <h2> {{courseName}} Details ({{selectedDayName}})</h2>

      <div class="pt-3" *ngIf="daysList">
        <table class="table table-hover">
          <thead class="tableHeader">
            <tr>
              <th scope="col">S.NO </th>
              <th scope="col">Lecture Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ls of daysList; let i = index">
              <td>{{ls.sNo}}</td>
              <td>{{ls.lectureName}}</td>
              <td>{{ls.startTime}}</td>
              <td>{{ls.endTime}}</td>
              <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#iframeModal"
                  data-backdrop="static" data-keyboard="false" (click)="onClickjoinLecture(i)">Join Lecture</button>
              </td>
              <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#detailsModal"
                  (click)="onClickDetails(i)" data-backdrop="static" data-keyboard="false"> Details</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div *ngIf="showIframe" class="pt-3">
      <iframe width="100%" height="620px" [src]="iFrameDynamicLink" frameborder="" allowfullscreen="allowfullscreen"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div> -->

  </div>
</div>


<!-- iframe Modal -->
<div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header headerSty">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">


        <!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/450724996"
            frameborder="0" allow="autoplay; fullscreen" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
 -->
        <!-- <div *ngIf="showIframe">
          <iframe width="100%" height="500px" [src]="iFrameDynamicLink" frameborder="" allowfullscreen="allowfullscreen"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div> -->


        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://vimeo.com/user122202068"
            frameborder="0" allow="autoplay; fullscreen" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>


      </div>
    </div>
  </div>
</div>



<!-- Details modal -->

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="tableHeader">
            <tr>
              <th scope="col">S.NO </th>
              <th scope="col">Instruction</th>
              <th scope="col">Content</th>
              <th scope="col">Assignment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ls of popupDetails">
              <td>{{ls.sNo}}</td>
              <td>{{ls.instruction}}</td>
              <td>{{ls.content}}</td>
              <td>{{ls.assignment}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>