.tableHeader 
{
    background-color: #dcdee0;
}

.breadcrumb {
    background-color: white;
}

.accordionStyle2 {
    position: relative;
    top: 55px;
}

.btn span:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}
