<div class="row col-md-12 mb-4">
  <div class="col-md-3">

    <div class="accordion accordionStyle2 pt-2" id="accordionExample275">
      <div class="card z-depth-0 bordered cardShadow" style="cursor: pointer;" *ngFor="let day of daysNames">
        <div class="card-header" id="headingOne2" style="padding: 5px;" (click)="onClickDay(day.dayName)">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
              aria-controls="collapseOne2" [routerLink]="['/course-details', 'Hatha Yoga']">
              {{day.dayName}}
            </button>
          </h5>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="container pl-3 pt-3 pb-2">

      <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/dashboard">
        Home
      </a>
    </li>
    <li class="pl-1 pr-1"> > </li>
    <li class="breadcrumb-item">

      {{courseName}}

    </li>
  </ol> -->
      <button class="btn btn-success" routerLink="/dashboard">LIVE STOP</button>
    </div>

    <div class="container pt-1" style="border-left: 1px solid #d4d2d2;">
      <h2> {{courseName}}</h2>

      <div class="pt-3" *ngIf="daysList">
        <table class="table table-hover">
          <thead class="tableHeader">
            <tr>
              <th scope="col">S.NO </th>
              <th scope="col">Class</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ls of daysList; let i = index">
              <td>{{ls.sNo}}</td>
              <td>{{ls.lectureName}}</td>
              <td>{{ls.startTime}}</td>
              <td>{{ls.endTime}}</td>
              <td><button class="btn btn-primary btn-sm" (click)="onClickjoinLecture(i)">LIVE NOW</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="showIframe" class="pt-3">
      <iframe width="100%" height="620px"
        src="https://www.youtube.com/embed/t-rzVaKUAgY?rel=0&modestbranding=1&controls=1" frameborder=""
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    

  </div>
</div>