<div class="" [ngClass]="showSections ? 'settings-body-section' : 'showLectures'">


    <ul class="nav justify-content-center pb-4" *ngIf="showSections">
        <li class="nav-item">
            <a class="nav-link navLinkSty" (click)="onClickAddCourse()"
                [ngClass]="{'selected-section' : showAddCourse}">Add Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navLinkSty" (click)="onClickRemoveCourse()"
                [ngClass]="{'selected-section' : showRemoveCourse}">Remove Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navLinkSty" (click)="onClickUpdateCourse()"
                [ngClass]="{'selected-section' : updateCourse}">Update Course</a>
        </li>
    </ul>



    <!-- create course section start -->

    <div *ngIf="showAddCourse" class="col-md-12">

        <div class="d-flex flex-column pt-3">
            <div class="fieldName">
                Course Name
            </div>
            <div class="pt-1">
                <input class="w-100" type="text" placeholder="" [(ngModel)]="createCourse.courseName">
            </div>
        </div>

        <div class="d-flex pt-3">
            <div class="col-md-6 pl-0">
                <div class="fieldName">
                    Start Date
                </div>
                <div class="pt-1">
                    <app-datepicker-component [selectedDate]="" (onSelectDate)="returnDate($event, 'startDate')">
                    </app-datepicker-component>
                </div>
            </div>
            <div class="col-md-6 pr-0">
                <div class="fieldName">
                    End Date
                </div>
                <div class="pt-1">
                    <app-datepicker-component [selectedDate]="" (onSelectDate)="returnDate($event, 'endDate')">
                    </app-datepicker-component>
                </div>
            </div>
        </div>

        <div class="d-flex pt-1">
            <div class="col-md-6 pl-0">
                <div class="fieldName">
                    Language
                </div>
                <select class="form-control" [(ngModel)]="createCourse.language">
                    <option value="hindi">Hindi</option>
                    <option value="english">English</option>
                </select>
            </div>
            <div class="col-md-6 pr-0">
                <div class="fieldName">
                    Duration (in days)
                </div>
                <div class="">
                    <input class="w-100" style="height: 38px;" type="number" placeholder="" [(ngModel)]="createCourse.duration">
                </div>
            </div>
        </div>

        <div *ngIf="createCourseError" class="pt-2 errorColor">
            * {{createCourseError}}
        </div>

        <div class="pt-3">
            <button class="btn btn-primary" (click)="saveCourse()">Create Course</button>
        </div>

    </div>

    <!-- create course section end -->


    <!-- remove course section start -->

    
    <div class="deleteUserSection col-md-12" *ngIf="showRemoveCourse">

        <div class="pt-4">
            <div class="fontWeight500 pb-2">Courses</div>
            <ng-multiselect-dropdown 
                [placeholder]="''" 
                [settings]="allCourseSettings" 
                [data]="allCourses" 
                (click)="removeErrorMsg()"
                (onSelect)="onItemSelect($event, 'delete')"
                (onSelectAll)="onSelectAll($event, 'delete')" 
                (onDeSelect)="onItemDeSelect($event, 'delete')" 
                (onDeSelectAll)="onSelectAll($event, 'delete')">
            </ng-multiselect-dropdown>
        </div>
        
        <div *ngIf="deleteCourseError" class="pt-2 errorColor">
            * {{deleteCourseError}}
        </div>

        <div class="pt-4 pb-2">
            <button class="btn btn-primary" (click)="deleteCourse()">Delete Course(s)</button>
        </div>
    
    </div>


    <!-- remove course section end -->



    <div *ngIf="updateCourse" class="col-md-12 pl-0 pr-0">

        <div *ngIf="!enableCourseDetailsSection">
            <div class="pt-2 pb-2" *ngFor="let course of allCourses">
                <!-- <div class="courseBgSty" (click)="showCourseDetails(course)"> {{course.courseName}}</div> -->
            
                <div class="d-flex flex-column pt-3 pb-3 courseBgSty">
                   <div class="d-flex flex-row">
                    <div class="courseNameSty pt-1">
                        {{course.courseName}}
                    </div>
        
                    <div class="ml-auto pr-4">
                      <button class="btn btn-primary btnPrimary" (click)="showCourseDetails(course)">Update</button>
                    </div>
                    </div>
                   <div class="hrLine"></div>
                    <div class="d-flex flex-row pt-3">
                        <div class="section2-sty">
                            FROM : {{course.startDate}}
                        </div>
                        <div class="ml-auto pr-5 section2-sty">
                          TO : {{course.endDate}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="enableCourseDetailsSection">
            <div class="d-flex flex-row pt-4">
                <div class="col-md-3 pl-3 createLectureSty text-center" (click)="onClickBack()"> 
                    <a class="backLink">Back</a>
                    <!-- <button class="btn btn-primary createLectureSty text-center p-2 mt-3" (click)="onClickBack()">Back</button>                 -->
                </div>
                <div class="col-md-9 text-center">
                    <h3>{{courseObj.courseName}}</h3>
                </div>
            </div>
            <div class="d-flex flex-row pl-0 pr-3 pt-3">
                <div class="col-md-3 pl-0 pr-0 pb-3 daysSty">
                    <div class="d-flex flex-column scroller">
                        <div class=" panel-group pt-1" id="accordion" *ngFor="let day of courseObj.day; let i = index">
                            <div class="panel panel-default">
                                <div href="#" class="list-group-item panel-title f-20" data-toggle="collapse"
                                    [attr.data-target]="'#test' + i" data-parent="#accordion">
                                    <span class="fWeight">{{day.dayName}} </span><span
                                        class="glyphicon glyphicon-menu-down pull-right"></span>
                                </div>
                                <div id="test{{i}}" class="collapse lectureGroupSty">
                                    <div *ngFor="let lecture of day.lecture">
                                        <div class="p-2 pl-3 lectureSty" (click)="lectureData(lecture)">
                                            {{lecture.lectureName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="createLectureSty text-center p-2 mt-3" (click)="onClickCreateLectureBtn()">
                        Create Lecture
                       <!-- <button class="btn btn-primary" (click)="onClickCreateLectureBtn()">Create Lecture</button> -->
                    </div>
                </div>

                <div class="col-md-9 pl-4 pb-3" *ngIf="enableLectureForm">

                    <div class="d-flex flex-column pt-3">
                        <div class="fieldName">
                            Lecture Name
                        </div>
                        <div class="pt-1">
                            <input class="w-100" type="text" placeholder="" [(ngModel)]="lectureForm.lectureName">
                        </div>
                    </div>

                    <div class="pt-3">
                        <div class="fontWeight500 pb-2">From Day</div>
                        <ng-multiselect-dropdown 
                            [placeholder]="''" 
                            [(ngModel)]="fromDaysList"
                            [settings]="allDaysSettings" 
                            [data]="allDays" 
                            (click)="removeErrorMsg()"
                            (onSelect)="onItemSelect($event, 'from')"
                            (onSelectAll)="onSelectAll($event, 'from')" 
                            (onDeSelect)="onItemDeSelect($event, 'from')" 
                            (onDeSelectAll)="onSelectAll($event, 'from')">
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="pt-3">
                        <div class="fontWeight500 pb-2">To Day</div>
                        <ng-multiselect-dropdown 
                            [placeholder]="''" 
                            [(ngModel)]="toDaysList"
                            [settings]="allDaysSettings" 
                            [data]="allDays" 
                            (click)="removeErrorMsg()"
                            (onSelect)="onItemSelect($event, 'to')"
                            (onSelectAll)="onSelectAll($event, 'to')" 
                            (onDeSelect)="onItemDeSelect($event, 'to')" 
                            (onDeSelectAll)="onSelectAll($event, 'to')">
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="pt-3">
                        <div class="fontWeight500 pb-2">Selected Day</div>
                        <ng-multiselect-dropdown 
                            [placeholder]="''" 
                            [(ngModel)]="selectedDaysList"
                            [settings]="selectedDaysSettings" 
                            [data]="allDays" 
                            (click)="removeErrorMsg()"
                            (onSelect)="onItemSelect($event, 'select')"
                            (onSelectAll)="onSelectAll($event, 'select')" 
                            (onDeSelect)="onItemDeSelect($event, 'select')" 
                            (onDeSelectAll)="onSelectAll($event, 'select')">
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-6">
                        <div class="d-flex flex-column pt-3">
                        <div class="fieldName">
                            Start Time
                        </div>
                            <!-- <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker> -->
                            <app-timepicker [selectedTime]="startTime" (onSelectTime)="returnSelectedTime($event, 'startTime')"></app-timepicker>

                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column pt-3">
                                <div class="fieldName">
                                   End Time
                                </div>
                                    <!-- <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker> -->
                                    <app-timepicker [selectedTime]="endTime" (onSelectTime)="returnSelectedTime($event, 'endTime')"></app-timepicker>
                                </div>                       
                        </div>

                    </div>

                    <div class="d-flex flex-column pt-3">
                        <div class="fieldName">
                            Live Iframe Link
                        </div>
                        <div class="pt-1">
                            <input class="w-100" type="text" placeholder="" [(ngModel)]="lectureForm.liveIFrameLink"
                             (keyup)="onKeyupIFrame($event, 'live')" [disabled]="disableLiveIframe">
                        </div>
                    </div>

                    <div class="d-flex flex-column pt-3">
                        <div class="fieldName">
                            Video Iframe Link
                        </div>
                        <div class="pt-1">
                            <input class="w-100" type="text" placeholder="" [(ngModel)]="lectureForm.videoIFrameLink"
                             (keyup)="onKeyupIFrame($event, 'video')" [disabled]="disableVideoIframe">
                        </div>
                    </div>

                    <div class="pt-4 pb-2">
                        <button class="btn btn-primary" (click)="saveLecture()">Save Lecture</button>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>