.settings-page {
    margin: 52px auto;
    max-width: 1000px;   
}

.nav-item {
    padding: 10px;
}

/* .body-section {
    padding: 45px;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
} */

.active-section {
    color: #004eb6;
    font-weight: bold;
}

.label {
    cursor: pointer;
}

.label:hover {
    color: #004eb6;
}

.fs-26 {
    font-size: 26px;
}

.label-name-sty {
    position: relative;
    left: 10px;
    bottom: 2px;
}