.yogaTextSty {
    position: relative;
    top: 30%;
    font-style: italic;
    font-size: 22px;
}

.bgStyle {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.5) 100%), url("../../assets/images/guruji.jpeg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: bottom;
    text-transform: none;
}