
/* horizantal line with words */
.hrLine {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
 .hrLine span { 
     background:#fff; 
     padding:0 10px; 
}

.fieldName {
    font-weight: 500;
    padding-bottom: 8px;
}

.forgotPass {
    text-align: right;
}

.forgotPass span {
    font-weight: 700;
    color: #0F6BE6;
    cursor: pointer;
}